#########################
# EXT:varnish
# global ignore file
########################
#
# Don't ignore .rej and .orig as we want to see/clean files after conflict resolution.
#
# For local exclude patterns please edit .git/info/exclude.
#
########################
# temporary files
*~
*.bak

# IDE
nbproject
*.idea
*.project
.buildpath
.project
.settings
.TemporaryItems
.webprj

# Build folder
.Build
Build/testing-docker/.env
var

# PHP Dependencies + Dev
/composer.lock
/index.php
/typo3
/typo3_src
/typo3conf
/vendor
.php_cs.cache
Tests/Unit/.phpunit.cache