<f:layout name="Backend"/>

<f:section name="main">
    <f:flashMessages />

    <h2>Ban all TYPO3 pages</h2>
    <f:form method="post" action="confirmBanTypo3Pages">
        <f:form.submit id="ban-typo3-pages" value="Ban all TYPO3 pages" additionalAttributes="{class: 'btn btn-default'}"/>
    </f:form>

    <h2>Ban tag by name</h2>
    <f:form method="post" action="confirmBanTagByName">
        <div class="form-group" style="max-width: 480px;">
            <label for="tagName">Tag-Name</label>
            <f:form.textfield id="tagName" name="tagName" additionalAttributes="{class: 'form-control'}"/>
        </div>
        <div class="help-block">
            <f:form.submit id="ban-tag-by-name" value="Ban tag" additionalAttributes="{class: 'btn btn-default'}"/>
        </div>
    </f:form>

    <h2>Ban URLs by RegEx</h2>
    <f:form method="post" action="confirmBanByRegex">
        <div class="form-group" style="max-width: 480px;">
            <label for="tagName">RegEx</label>
            <f:form.textfield id="regex" name="regex" additionalAttributes="{class: 'form-control'}"/>
        </div>
        <div class="help-block">
            <f:form.submit id="ban-tag-by-regex" value="Ban by RegEx" additionalAttributes="{class: 'btn btn-default'}"/>
        </div>
    </f:form>
</f:section>