<div class="module-docheader t3js-module-docheader" style="height: auto;">
    <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation" style="height: auto;">
        <div class="module-docheader-bar-column-left">
            <div class="form-inline">
                <div class="form-group form-group-sm">
                    <f:be.buttons.csh/>
                    <f:be.menus.actionMenu additionalAttributes="{class: 'form-control t3-js-jumpMenuBox'}">
                        <f:be.menus.actionMenuItem label="Ban" controller="Ban" action="index"/>
                    </f:be.menus.actionMenu>
                </div>
            </div>
        </div>
    </div>
</div>