<f:be.container>
    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div id="typo3-docheader-row2">
                <div class="docheader-row2-left">
                    <f:be.buttons.csh/>
                    <f:be.menus.actionMenu>
                        <f:be.menus.actionMenuItem label="Ban" controller="Ban" action="index"/>
                    </f:be.menus.actionMenu>
                </div>
            </div>
        </div>
        <div id="typo3-docbody">
            <div id="typo3-inner-docbody">
                <f:render section="main"/>
            </div>
        </div>
    </div>
</f:be.container>